[uwsgi]
chdir = {{ project_path }}
virtualenv = venv
wsgi-file = {{ main_py_script }}
callable = {{ application_obj_name }}
http = {{ uwsgi_address }}:{{ uwsgi_port }}
processes = {{ num_of_processes }}
threads = {{ num_of_threads }}
stats = {{ uwsgi_address }}:{{ uwsgi_stats_port }}
